body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  height: 50px;
}

.card {
  width: 18em;
}

label {
  /* text-decoration: underline; */
}

#general-record {
  background-color: #DDFFDD;
}

#parties-record {
  background-color: #FFDDDD;
}

#property-record {
  background-color: #CCFFFF;
}

#transaction-record {
  background-color: #FFCCFF;
}
#remarks-record {
  background-color: #DDDDFF;
  height: 20%;
}
.testfield {
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  font-weight: 200;
  /* color: white; */
  /* background-color: #000; */
  background-color:white;
  padding-left: 0;
}

#c4dlogo {
  height: 40px;
  width: 80px;
}

#searchfield {
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: 2px solid !important;
  font-weight: 200;
  color: white;
  padding-left: 0;
}

#parties-record-list {
  /* font-size: large; */
  list-style: none;
  margin: 0;
}

.table {
  font-size: small;
}

#parties-list {
  font-size: x-small;
  list-style: none;
  margin: 0;
  padding: 0;
}

.record-field {
  border-radius: 15px;
  font-size: small;
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: transparent !important;
  font-weight: 200;
  color: white;
  padding-left: 0;
}

#record-line {
  font-size: small;
  border-radius: 0;
  outline: none;
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: 1px solid !important;
  font-weight: 200;
  color: white;
  padding-left: 0;
}

#comments-field {
  font-size: small;
  border-radius: 0;
  outline: none;
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: transparent !important;
  font-weight: 200;
  color: white;
  padding-left: 0;
}

/* #parties-field {
  font-size: small;
  border-radius: 15px;
  background:  transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: 2px solid !important;
  font-weight: 200;
  color: white;
  padding-left: 0;
}

#property-field {
  font-size: small;
  border-radius: 15px;
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: 2px solid !important;
  font-weight: 200;
  color: white;
  padding-left: 0;
} */
